$black: #000000;
$white: #FFFFFF;
$grey: #D7D7D7;
$font-stack: Helvetica, sans-serif;
$font-size-normal: 14pt;

@import "header", "footer", "mobileHeader";

@font-face {
    font-family: Source-sans;
    src: url(../fonts/SourceSansPro-Black.woff) format('woff');
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: $font-stack;
}

#section1{
  margin: 0 auto;
  width: 60%;
  min-height: 80%;
  background-color: green;
  @media screen and (max-width: 900px){
     width: 85%;
  }
}

#section2{
  @extend #section1;
  background-color: yellow;
}

#section3{
  @extend #section1;
  background-color: red;
}
