#header {
  position: fixed;
  top: 0px;
  z-index: 999;
  width: 100%;
  height: 20%;
  background-color: #000000; }

#spacingDiv {
  height: 20%; }

#headerText {
  font-family: Source-sans;
  color: #FFFFFF;
  font-size: 30pt;
  text-align: center;
  margin: 0;
  top: 50%;
  margin-top: 20px; }
  @media screen and (max-height: 900px) {
    #headerText {
      margin-top: 0px;
      font-size: 20pt; } }
  @media screen and (max-width: 670px) {
    #headerText {
      display: none; } }

#nav {
  position: absolute;
  bottom: 0px;
  width: 100%;
  min-height: 30px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #D7D7D7; }
  @media screen and (max-width: 670px) {
    #nav {
      display: none; } }

#menuContainer {
  position: absolute;
  bottom: 0;
  min-height: 200%;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

#menuItem1, #menuItem2, #menuItem3 {
  position: absolute;
  bottom: 0;
  min-height: 100%;
  width: 200px; }
  @media screen and (max-height: 700px) {
    #menuItem1, #menuItem2, #menuItem3 {
      min-height: 75%; } }

#menuItem2 {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

#menuItem3 {
  right: 0; }

.menuImg {
  position: absolute;
  bottom: 50%;
  width: 100%;
  min-height: 50%; }
  @media screen and (max-height: 700px) {
    .menuImg {
      min-height: 25%; } }

.menuButtonContainer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  min-height: 50%; }

.menuButton {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30px;
  width: 60px;
  margin: -15px 0 0 -30px; }
  @media screen and (max-height: 700px) {
    .menuButton {
      top: 25%; } }

.largeButton {
  width: 120px;
  margin: -15px 0 0 -60px; }

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 14pt;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-height: 700px) {
    .icon {
      -moz-transform: scale(0.5);
      -webkit-transform: scale(0.5);
      transform: scale(0.5); } }
  @media screen and (max-height: 600px) {
    .icon {
      display: none; } }

#languageButton {
  position: relative;
  height: 30px;
  left: 75%; }
  @media screen and (max-width: 1200px) {
    #languageButton {
      left: 85%; } }
  @media screen and (max-width: 750px) {
    #languageButton {
      left: 87%; } }

footer {
  width: 100%;
  height: 60px;
  background-color: #000000; }

#links {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.footerLink {
  margin-right: 20px; }

@media screen and (max-width: 670px) {
  #header {
    height: 10%; } }
@media screen and (orientation: landscape) {
  #header {
    height: 20%; } }

@media screen and (max-width: 670px) {
  #spacingDiv {
    height: 10%; } }
@media screen and (orientation: landscape) {
  #spacingDiv {
    height: 20%; } }

#navMobile {
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: #FFFFFF; }
  @media screen and (min-width: 670px) {
    #navMobile {
      display: none; } }

#accordion {
  height: 100%;
  width: 100%; }

#accordion .ui-accordion-content {
  height: 200px;
  border-radius: 0px;
  padding: 0px; }
  @media screen and (max-width: 380px) {
    #accordion .ui-accordion-content {
      height: 150px; } }
  @media screen and (max-height: 320px) {
    #accordion .ui-accordion-content {
      height: 150px; } }

#accordion .ui-accordion-header {
  height: 100%;
  width: 100%;
  background: #000000;
  color: #FFFFFF;
  margin: 0px;
  border-radius: 0px;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center; }

@media screen and (max-width: 320px) {
  #headerTextMobi {
    font-size: 10pt; } }

table {
  width: 100%;
  height: 100%; }
  table tr:nth-of-type(odd) {
    background-color: #D7D7D7; }
  table tr:nth-of-type(even) {
    background-color: #FFFFFF; }
  table td {
    text-align: center; }

#accordion .ui-icon.iconOpen {
  background: url("../images/menuButtonClose.png") no-repeat;
  background-size: 40px;
  width: 40px;
  height: 40px; }
  @media screen and (max-width: 360px) {
    #accordion .ui-icon.iconOpen {
      background: url("../images/menuButtonCloseSmall.png") no-repeat;
      background-size: 25px;
      width: 25px;
      height: 25px; } }
  @media screen and (orientation: landscape) {
    #accordion .ui-icon.iconOpen {
      background: url("../images/menuButtonCloseSmall.png") no-repeat;
      background-size: 25px;
      width: 25px;
      height: 25px; } }

#accordion .ui-icon.iconClosed {
  background: url("../images/menuButton.png") no-repeat;
  background-size: 40px;
  width: 40px;
  height: 40px; }
  @media screen and (max-width: 360px) {
    #accordion .ui-icon.iconClosed {
      background: url("../images/menuButtonSmall.png") no-repeat;
      background-size: 25px;
      width: 25px;
      height: 25px; } }
  @media screen and (orientation: landscape) {
    #accordion .ui-icon.iconClosed {
      background: url("../images/menuButtonSmall.png") no-repeat;
      background-size: 25px;
      width: 25px;
      height: 25px; } }

#accordion .ui-icon {
  position: absolute;
  top: 55%;
  transform: translate(0, -50%);
  width: 40px;
  height: 40px; }

@font-face {
  font-family: Source-sans;
  src: url(../fonts/SourceSansPro-Black.woff) format("woff"); }
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

body {
  font-family: Helvetica, sans-serif;
  font-size: 14pt;
  background-color: #F5F5F5; }
  @media screen and (max-width: 400px) {
    body {
      font-size: 11pt; } }
  @media screen and (max-width: 700px) {
    body {
      background-color: #FFFFFF; } }

#section1, #section2, #section3 {
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 60%;
  min-height: 80%;
  background-color: #FFFFFF; }
  @media screen and (max-width: 1000px) {
    #section1, #section2, #section3 {
      width: 90%; } }
  @media screen and (max-width: 670px) {
    #section1, #section2, #section3 {
      min-height: 90%; } }

.contentStart {
  background-color: #FFFFFF;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  overflow: hidden; }

.contentIcon {
  position: relative;
  z-index: 998;
  display: block;
  margin-left: auto;
  margin-right: auto; }

hr {
  z-index: 0;
  position: relative;
  margin: 0 auto;
  top: 50%;
  width: 80%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

#skillTable {
  width: 80%;
  border-spacing: 0; }
  @media screen and (max-width: 1500px) {
    #skillTable {
      width: 100%;
      margin: 0 auto; } }
  @media screen and (max-width: 495px) {
    #skillTable img {
      -moz-transform: scale(0.75);
      -webkit-transform: scale(0.75);
      transform: scale(0.75);
      width: 23px;
      height: 23px; } }
  #skillTable tr:nth-of-type(odd) {
    background-color: #D7D7D7; }
  #skillTable tr:nth-of-type(even) {
    background-color: #FFFFFF; }
  #skillTable td {
    text-align: center; }

.contentContainer {
  width: 70%;
  margin: 0 auto; }
  @media screen and (max-width: 1000px) {
    .contentContainer {
      width: 90%; } }

#infoHeading {
  text-align: center; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 70%; }
  @media screen and (max-width: 1000px) {
    .videoWrapper iframe {
      width: 80%;
      height: 80%; } }

.contentSection {
  width: 80%;
  margin: 0 auto;
  overflow: hidden; }
  @media screen and (max-width: 700px) {
    .contentSection {
      width: 100%; } }

.contentEnd {
  margin: 0px;
  overflow: hidden;
  height: 100px; }

#gallery {
  width: 80%;
  margin-bottom: 50px; }
  @media screen and (max-width: 1600px) {
    #gallery {
      width: 100%; } }

.galleryImg {
  max-width: 60%;
  height: auto; }
  @media screen and (max-width: 1280px) {
    .galleryImg {
      max-width: 80%; } }

@media screen and (max-width: 1280px) {
  .hideImg {
    display: none; } }

.lastParagraph {
  margin-bottom: 0px; }

::-moz-selection {
  background-color: #000000;
  color: #FFFFFF; }

::selection {
  background-color: #000000;
  color: #FFFFFF; }

/*# sourceMappingURL=style.css.map */
