$black: #000000;
$white: #FFFFFF;
$grey: #D7D7D7;
$font-stack: Helvetica, sans-serif;
$font-size-normal: 14pt;

*{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
}

#header {
  z-index: 999;
  min-height: 30%;
  width: 100%;
  background-color: $black;
  position: fixed ;
}

#nav{
  z-index:998;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  min-height: 5%;
  width: 100%;
  background-color: $white;
  border-bottom: 1px solid $grey;
  ul{
    margin: 0;
    padding: 0; 
    li{
      display:inline-block;
      padding-right: 20px;
    }
  }
}

.navButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: $font-size-normal;
}

#container {
  z-index: 0;
  position: relative;
  top: 30%;
  min-height: 80%;
  width: 60%;
  background-color: $white;
  padding: 20px;
  color: $black;
  margin: 0 auto;
}

p{
  padding: 0;
  margin: 0;
}

footer{
  z-index: 1;
  position: relative;
  top: 30%;
  min-height: 5%;
  background-color: $black;
}