$black: #000000;
$white: #FFFFFF;
$grey: #D7D7D7;
$font-stack: Helvetica, sans-serif;
$font-size-normal: 14pt;

@font-face {
    font-family: Source-sans;
    src: url(../fonts/SourceSansPro-Black.woff) format('woff');
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: $font-stack;
}

#header{
  position: fixed;
  top: 0px;
  width: 100%;
  min-height: 20%;
  background-color: $black;
}

/*#header.shrink {
  height:10%;
}*/

h1{
  font-family: Source-sans;
  color: $white;
  font-size: 30pt;
  text-align:center
}

#nav{
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  min-height: 5%;
  width: 100%;
  background-color: $white;
  border-bottom: 1px solid $grey;
  ul{
    margin: 0;
    padding: 0;
    li {
      display:inline-block;
      padding-right: 20px;
    }
  }
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 14pt;
}
    
#spacingDiv {
  height: 20%;
}

#section1{
  margin: 0 auto;
  width: 60%;
  min-height: 80%;
  background-color: green;
}

#section2{
  margin: 0 auto;
  width: 60%;
  min-height: 80%;
  background-color: yellow;
}

#section3{
  margin: 0 auto;
  width: 60%;
  min-height: 75%;
  background-color: red;
}

footer {
  width: 100%;
  height: 5%;
  background-color: $black;
}  