<h2>Tietoa</h2>
<p>Olen 27-vuotias mediatekniikan insinööri Vantaalta. Opintojeni pääaine oli ohjelmistotekniikka. Etsin tällä hetkellä osaamistani vastaavaa työtä,jossa pääseen hyödyntämään jo olemassa olevia taitojani ja oppimaan nipun uusia.</p>
<p>Vahvin osaaminen minulla on Front End-kehityksestä HTML-, CSS-, ja JavaScript tekniikoilla. Javascript-kirjastoista lähinnä sydäntäni ovat jQuery ja AngularJS. Omaan myös hyvän perusosaamisen Java-ohjelmmoinnista ja MySQL-tietokannoista.</p>
<p class="lastParagraph">Vapaa-ajallani ulkoilen koiran kanssa, kuuntelen musiikkia ja sivistän itseäni tv-sarjoilla, elokuvilla ja videopeleillä. Olen ahkera ja tunnollinen persoona ja valmis tarttumaan uusiin haasteisiin.</p>
