<h2>Work Experience</h2>
<h3>Virtual Museum</h3>
<p>Java-programmer and MySQL-database design and implementation in Virtual Museum-project. <br>Riihimäen kaupunki, 23.5.2011 – 23.8.2011</p>

<div id="gallery">
  <a class="fancybox-buttons" data-fancybox-group="button" href="images/virtuaalimuseo/etusivu_big.png" title="Virtual museum front page"><img src="images/virtuaalimuseo/etusivu_thumb.png" class="galleryImg" alt="Virtual museum front page" width="300" height="169" /></a>
  <a class="fancybox-buttons" data-fancybox-group="button" href="images/virtuaalimuseo/taiteilijasivu_big.png" title="Virtual museum artist page"><img src="images/virtuaalimuseo/taiteilijasivu_thumb.png" class="galleryImg hideImg" alt="Virtual museum artist page" width="300" height="169" /></a>
  <a class="fancybox-buttons" data-fancybox-group="button" href="images/virtuaalimuseo/teosluettelo_big.png" title="Virtual museum catalogue"><img src="images/virtuaalimuseo/teosluettelo_thumb.png" class="galleryImg hideImg" alt="Virtual museum catalogue" width="300" height="169" /></a>
  <a class="fancybox-buttons" data-fancybox-group="button" href="images/virtuaalimuseo/teossivu_big.png" title="Virtual museum artwork page"><img src="images/virtuaalimuseo/teossivu_thumb.png" class="galleryImg hideImg" alt="Virtual museum artwork page" width="300" height="169" /></a>
</div> 

<h3>Gyrocopter flight instruction material</h3>
<p>3D-model and animation of a gyrocopter to be used as flight instruction material. <br>Häme University of Applied Sciences, 1.6.2010 – 31.8.2010</p>
