<h2>Työkokemus</h2>
<h3>Virtuaalimuseo</h3>
<p>Java-ohjelmoija ja MySQL-tietokannan suunnittelu ja toteutus Virtuaalimuseo-projektissa <br>Riihimäen kaupunki, 23.5.2011 – 23.8.2011</p>

<div id="gallery">
  <a class="fancybox-buttons" data-fancybox-group="button" href="images/virtuaalimuseo/etusivu_big.png" title="Virtuaalimuseo etusivu"><img src="images/virtuaalimuseo/etusivu_thumb.png" class="galleryImg" alt="Virtuaalimuseo etusivu" width="300" height="169" /></a>
  <a class="fancybox-buttons" data-fancybox-group="button" href="images/virtuaalimuseo/taiteilijasivu_big.png" title="Virtuaalimuseo taiteilijasivu"><img src="images/virtuaalimuseo/taiteilijasivu_thumb.png" class="galleryImg hideImg" alt="Virtuaalimuseo taiteilijasivu" width="300" height="169" /></a>
  <a class="fancybox-buttons" data-fancybox-group="button" href="images/virtuaalimuseo/teosluettelo_big.png" title="Virtuaalimuseo teosluettelo"><img src="images/virtuaalimuseo/teosluettelo_thumb.png" class="galleryImg hideImg" alt="Virtuaalimuseo teosluettelo" width="300" height="169" /></a>
  <a class="fancybox-buttons" data-fancybox-group="button" href="images/virtuaalimuseo/teossivu_big.png" title="Virtuaalimuseo teossivu"><img src="images/virtuaalimuseo/teossivu_thumb.png" class="galleryImg hideImg" alt="Virtuaalimuseo teossivu" width="300" height="169" /></a>
</div> 

<h3>Gyrokopteri lennonopetusmateriaali</h3>
<p>3D-mallin ja animaatioiden toteuttaminen gyrokopterin lennonopetus materiaaliksi. <br>Hämeen ammattikorkeakoulu, 1.6.2010 – 31.8.2010</p>
